@import "colors.scss";

.appbar-title {
  margin-left: 20px;
}

.results-wrapper {
  background-color: $results-bg;
  height: 100%;

  .resultslist-wrapper {
    margin-top: 5%;
  }

  .list-avatar {
    background-color: $avatar-bg !important;
    height: 50px !important;
    width: 50px !important;
  }
}
