@import "styles/colors.scss";

.header-container {
  position: relative;
  background-color: $form-bg;

  .hederSvg {
    z-index: 100;
  }
  .st0 {
    fill: $h1;
  }
  .st1 {
    fill: $h2;
  }
  .st2 {
    fill: $h3;
  }

  .logo {
    width: 25%;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
  }

  .help-iconbutton {
    color: rgba(255, 255, 255, 0.8);
    position: absolute;
    top:15px;
    right: 15px;
  }
}
