@import "colors.scss";

.header-container {
  position: relative;

  .hederSvg {
    z-index: 100;
  }
  .st0 {
    fill: $h1;
  }
  .st1 {
    fill: $h2;
  }
  .st2 {
    fill: $h3;
  }

  .logo {
    width: 25%;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
  }

  .help-icon {
    color: white;
    size: 20px;
    position: absolute;
    top:15px;
    right: 15px;
  }
}
