html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  display: contents;
}

#root {
  display: flex;
}

.wrapper, #root {
  height: auto;
  min-height: 100%;
  width: auto;
  min-width: 100%;
}



