//Page background colors
$form-bg: #ffd740;
$results-bg: #fff8e1;

//Header colors
$h1: #9fa8da;
$h2: #7986cb;
$h3: #5c6bc0;

//Button colors
$submit-bg: #3949ab;

//Results scene
$avatar-bg: #5c6bc0;
